/* Primary COLOR - rgba(94,114,113,1)  / #5e7271 */
/* Accent color light #758F8E */
/* Accent colro dar - #34403F */

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 0.33fr 1fr 0.45fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'log main character'
    'log results character'
    'log results character';
}

button {
  background-color: #34403f;
  color: white;
}

.header {
  grid-area: header;
  border: 1px solid black;
}

.controls {
  grid-area: controls;
  border: 1px solid black;
}
.character {
  grid-area: character;
  border: 1px solid black;
}
.main {
  grid-area: main;
  /* border: 1px solid black; */
  /* height: 200px; */
}
.log {
  grid-area: log;
  border: 1px solid black;
}

/* 
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
