$primary-color: #305b62;
$secondary-color: #171f22;
$tertiary-color: #c6eaed;
$primary-color-light: #75afba;
$primary-color-dark: #2a393e;
$dice-color: #19627a;
$black: #010101;
$grey: #adadad;
$white: #eee;
