@import '../variables.scss';

.GamePage {
  text-align: center;
}

button {
  background-color: $primary-color-dark;
  color: $white;
}
.content {
  display: grid;
  grid-template-columns: 0.33fr 1fr 0.45fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'log main character'
    'log results character'
    'log-book results character';
  // background-image: url('./white-forest.jpg');
  // background-size: cover;
}

.header {
  grid-area: header;
  border: 0.1rem solid $black;
}

.controls {
  grid-area: controls;
  border: 0.1rem solid $black;
}
.character {
  grid-area: character;
  border: 0.1rem solid $black;
}
.main {
  grid-area: main;
}
.log {
  grid-area: log;
  border: 0.1rem solid $black;
}

/* 
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
